In [1]:
# mostly following this video example of Latent Semantic Analysis and applying it to Darwin Corpus: https://www.youtube.com/watch?v=BJ0MnawUpaU




# 'On the Origin of Species (sixth edition)' html: http://www.gutenberg.org/files/2009/2009-h/2009-h.htm

# 'The Descent of Man': http://www.gutenberg.org/cache/epub/2300/pg2300.html

# 'The Expression of the Emotions in Man and Animals': http://www.gutenberg.org/files/1227/1227-h/1227-h.htm


# Importing requests, BeautifulSoup and nltk
import requests
from bs4 import BeautifulSoup
import nltk

In [2]:
# get the html for all three books from Project Gutenberg website

origin = requests.get('http://www.gutenberg.org/files/2009/2009-h/2009-h.htm')
descent = requests.get('http://www.gutenberg.org/cache/epub/2300/pg2300.html')
emotions = requests.get('http://www.gutenberg.org/files/1227/1227-h/1227-h.htm')

In [9]:
# Setting the correct text encoding of the HTML page for origin 
origin.encoding = 'utf-8'

# Extracting the HTML from the request object
origin_html = origin.text

# Creating a BeautifulSoup object from the origin HTML
origin_soup = BeautifulSoup(origin_html, 'html.parser')

# Getting the text out of the origin soup
origin_text = origin_soup.get_text()



# TOKENIZATION WITH NLTK COMMENTED OUT BECAUSE IT IS NOT NECESSARY IF USING sci-kit learn 

# Creating a tokenizer
# tokenizer = nltk.tokenize.RegexpTokenizer('\w+')

# Tokenizing the origin text
# origin_tokens = tokenizer.tokenize(origin_text)

In [35]:
[type(origin.encoding), type(origin_html), type(origin_soup), type(origin_text)]

[str, str, bs4.BeautifulSoup, str]

In [10]:
# Setting the correct text encoding of the HTML page for descent
descent.encoding = 'utf-8'

# Extracting the HTML from the request object
descent_html = descent.text

# Creating a BeautifulSoup object from the descent HTML
descent_soup = BeautifulSoup(descent_html, 'html.parser')

# Getting the text out of the descent soup
descent_text = descent_soup.get_text()

# Tokenizing the descent text
# descent_tokens = tokenizer.tokenize(descent_text)

In [11]:
# Setting the correct text encoding of the HTML page for emotions
emotions.encoding = 'utf-8'

# Extracting the HTML from the request object
emotions_html = emotions.text

# Creating a BeautifulSoup object from the emotions HTML
emotions_soup = BeautifulSoup(emotions_html, 'html.parser')

# Getting the text out of the emotions soup
emotions_text = emotions_soup.get_text()

# Tokenizing the emotions text
# emotions_tokens = tokenizer.tokenize(emotions_text)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

from nltk.corpus import stopwords

stopwords = nltk.corpus.stopwords.words('english')

In [16]:
# make a single list containing all three texts (untokenized) books that will be treated as a corpus for tf-idf

darwin_corpus = [origin_text, descent_text, emotions_text]

In [17]:
# instantiate the TfidfVectorizer allowing for ngrams of 1, 2 and 3 words in length to be used as features

vectorizer = TfidfVectorizer(stop_words=stopwords, use_idf=True, ngram_range=(1,3))


# fit the TfidfVectorizer to darwin_corpus and then generate document-term sparse matrix ('X') with Tf-idf scores

X = vectorizer.fit_transform(darwin_corpus)

In [47]:
# X is 3 x 552738 matrix (3 books --the rows-- in corpus and 552738 tokens/features/words --the columns-- extracted from corpus)

X.shape

(3, 552738)

In [18]:
X[0]

<1x552738 sparse matrix of type '<class 'numpy.float64'>'
	with 189860 stored elements in Compressed Sparse Row format>

In [19]:
print(X[0])

  (0, 361095)	0.0191015987011
  (0, 466036)	0.460826068665
  (0, 456387)	0.00238769983764
  (0, 156569)	0.00429785970776
  (0, 93249)	0.00358154975646
  (0, 126948)	0.00191015987011
  (0, 69202)	0.0157588189284
  (0, 308544)	0.00716309951293
  (0, 53776)	0.000614919655066
  (0, 183970)	0.000404272724813
  (0, 496122)	0.00214892985388
  (0, 27345)	0.00215221879273
  (0, 269083)	0.000716309951293
  (0, 252614)	0.000614919655066
  (0, 6223)	0.000307459827533
  (0, 506312)	0.00143261990259
  (0, 7310)	0.000614919655066
  (0, 70965)	0.00310400978894
  (0, 228837)	0.000307459827533
  (0, 228840)	0.000307459827533
  (0, 228843)	0.000307459827533
  (0, 228846)	0.000307459827533
  (0, 228849)	0.000307459827533
  (0, 228852)	0.000307459827533
  (0, 87206)	0.000922379482599
  :	:
  (0, 533792)	0.000238769983764
  (0, 456063)	0.000238769983764
  (0, 296133)	0.000238769983764
  (0, 377157)	0.000238769983764
  (0, 433768)	0.000404272724813
  (0, 182509)	0.000404272724813
  (0, 228752)	0.000238769983764
  (0, 359372)	0.000238769983764
  (0, 533791)	0.000238769983764
  (0, 456061)	0.000238769983764
  (0, 251174)	0.000238769983764
  (0, 228768)	0.000238769983764
  (0, 504864)	0.000238769983764
  (0, 251303)	0.000238769983764
  (0, 296691)	0.000238769983764
  (0, 44904)	0.000238769983764
  (0, 208232)	0.000238769983764
  (0, 235994)	0.000238769983764
  (0, 395843)	0.000238769983764
  (0, 341187)	0.000238769983764
  (0, 156103)	0.000238769983764
  (0, 483529)	0.000238769983764
  (0, 160300)	0.000238769983764
  (0, 341711)	0.000238769983764
  (0, 235004)	0.000238769983764

In [53]:
# feature names of tokens are stored in TfidfVectorizer object 

vectorizer.get_feature_names()

['000',
 '000 000',
 '000 000 soldiers',
 '000 15',
 '000 15 000',
 '000 according',
 '000 according loose',
 '000 feet',
 '000 feet deeply',
 '000 feet informs',
 '000 feet professor',
 '000 feet solid',
 '000 feet valleys',
 '000 feet yet',
 '000 number',
 '000 number soon',
 '000 padding',
 '000 padding 5em',
 '000 particularly',
 '000 particularly important',
 '000 pieces',
 '000 pieces shell',
 '000 pigeons',
 '000 pigeons taken',
 '000 soldiers',
 '000 soldiers served',
 '000 specimens',
 '000 specimens apus',
 '000 years',
 '000 years ago',
 '000 years respect',
 '019',
 '019 81',
 '019 81 1860',
 '050',
 '050 1832',
 '050 1832 several',
 '071',
 '071 males',
 '071 males 25',
 '08',
 '08 100',
 '08 100 time',
 '084',
 '084 18',
 '084 18 1866',
 '09',
 '09 inch',
 '09 inch therefore',
 '10',
 '10 000',
 '10 000 15',
 '10 100',
 '10 100 plants',
 '10 12',
 '10 12 35',
 '10 1857',
 '10 1857 regard',
 '10 1868',
 '10 1868 724',
 '10 1869',
 '10 1869 lately',
 '10 773',
 '10 773 females',
 '10 87',
 '10 87 state',
 '10 almost',
 '10 almost actions',
 '10 bridgewater',
 '10 bridgewater treatise',
 '10 cervulus',
 '10 cervulus dr',
 '10 disgust',
 '10 disgust shown',
 '10 doubleday',
 '10 doubleday annals',
 '10 dr',
 '10 dr savage',
 '10 figs',
 '10 figs 27',
 '10 font',
 '10 font family',
 '10 given',
 '10 given evidence',
 '10 good',
 '10 good opportunities',
 '10 gorilla',
 '10 gorilla savage',
 '10 gould',
 '10 gould handbook',
 '10 hereditary',
 '10 hereditary genius',
 '10 inhabit',
 '10 inhabit different',
 '10 journal',
 '10 journal travel',
 '10 macgillivray',
 '10 macgillivray history',
 '10 male',
 '10 male left',
 '10 margin',
 '10 margin bottom',
 '10 margin right',
 '10 mr',
 '10 mr belt',
 '10 mr blyth',
 '10 mr wallace',
 '10 mynote',
 '10 mynote background',
 '10 often',
 '10 often observed',
 '10 origin',
 '10 origin species',
 '10 project',
 '10 project gutenberg',
 '10 reflex',
 '10 reflex movements',
 '10 rengger',
 '10 rengger naturgeschichte',
 '10 return',
 '10 return essays',
 '10 see',
 '10 see interesting',
 '10 see paper',
 '10 see yarrell',
 '10 sound',
 '10 sound producing',
 '10 taphroderes',
 '10 taphroderes distortus',
 '10 tour',
 '10 tour sutherlandshire',
 '10 valuable',
 '10 valuable essay',
 '10 woodcut',
 '10 woodcut kallima',
 '100',
 '100 104',
 '100 104 temporary',
 '100 111',
 '100 111 194',
 '100 143',
 '100 143 respect',
 '100 149',
 '100 149 apparently',
 '100 49',
 '100 49 norway',
 '100 50',
 '100 50 regard',
 '100 another',
 '100 another striking',
 '100 catching',
 '100 catching animals',
 '100 census',
 '100 census 1872',
 '100 christian',
 '100 christian births',
 '100 colonel',
 '100 colonel marshall',
 '100 curious',
 '100 curious observe',
 '100 desmarest',
 '100 desmarest mammalogie',
 '100 developed',
 '100 developed aid',
 '100 enquiries',
 '100 enquiries made',
 '100 etc',
 '100 etc also',
 '100 even',
 '100 even small',
 '100 female',
 '100 female births',
 '100 female children',
 '100 females',
 '100 females 1857',
 '100 females average',
 '100 females census',
 '100 females greatest',
 '100 females hand',
 '100 females important',
 '100 females numbers',
 '100 females respect',
 '100 females rev',
 '100 females sandwich',
 '100 females singular',
 '100 females tabulated',
 '100 females take',
 '100 females todas',
 '100 females whereas',
 '100 females year',
 '100 genera',
 '100 genera indigenous',
 '100 geographical',
 '100 geographical miles',
 '100 girls',
 '100 girls proportion',
 '100 greyhounds',
 '100 greyhounds inequality',
 '100 heads',
 '100 heads red',
 '100 however',
 '100 however degree',
 '100 illustrations',
 '100 illustrations pritchett',
 '100 kinds',
 '100 kinds plants',
 '100 land',
 '100 land shells',
 '100 looking',
 '100 looking separate',
 '100 males',
 '100 males seventeen',
 '100 mares',
 '100 mares born',
 '100 may',
 '100 may added',
 '100 must',
 '100 must borne',
 '100 period',
 '100 period occurred',
 '100 plants',
 '100 plants belonging',
 '100 plants flora',
 '100 pounds',
 '100 pounds male',
 '100 probably',
 '100 probably nearly',
 '100 ratio',
 '100 ratio throughout',
 '100 regard',
 '100 regard domestic',
 '100 scarcely',
 '100 scarcely possible',
 '100 see',
 '100 see also',
 '100 sheep',
 '100 sheep age',
 '100 similarly',
 '100 similarly coloured',
 '100 squirrels',
 '100 squirrels audubon',
 '100 still',
 '100 still born',
 '100 taking',
 '100 taking still',
 '100 time',
 '100 time number',
 '100 whilst',
 '100 whilst wales',
 '1000',
 '1000 measurements',
 '1000 measurements reduced',
 '1000 unmarried',
 '1000 unmarried men',
 '1001',
 '1001 chickens',
 '1001 chickens highly',
 '1001 emotions',
 '1001 emotions closely',
 '1001 return',
 '1001 return see',
 '1002',
 '1002 even',
 '1002 even said',
 '1002 return',
 '1002 return rengger',
 '1003',
 '1003 monkeys',
 '1003 monkeys also',
 '1003 return',
 '1003 return sir',
 '1004',
 '1004 men',
 '1004 men heart',
 '1004 return',
 '1004 return moreau',
 '1005',
 '1005 return',
 '1005 return sir',
 '1005 tennyson',
 '1005 tennyson writes',
 '1006',
 '1006 excited',
 '1006 excited brain',
 '1006 return',
 '1006 return mr',
 '1007',
 '1007 rendered',
 '1007 rendered loud',
 '1007 return',
 '1007 return sir',
 '1008',
 '1008 return',
 '1008 return de',
 '1008 shakspeare',
 '1008 shakspeare sums',
 '1009',
 '1009 appearance',
 '1009 appearance teeth',
 '1009 return',
 '1009 return sir',
 '101',
 '101 143',
 '101 143 dorsal',
 '101 arrived',
 '101 arrived however',
 '101 assuredly',
 '101 assuredly error',
 '101 difficult',
 '101 difficult approach',
 '101 remains',
 '101 remains dispute',
 '101 return',
 '101 return art',
 '101 return mr',
 '101 violent',
 '101 violent laughter',
 '1010',
 '1010 return',
 '1010 return oliver',
 '1010 speaking',
 '1010 speaking atrocious',
 '1011',
 '1011 retraction',
 '1011 retraction lips',
 '1011 return',
 '1011 return spectator',
 '1012',
 '1012 question',
 '1012 question must',
 '1012 return',
 '1012 return body',
 '1013',
 '1013 figures',
 '1013 figures plate',
 '1013 return',
 '1013 return le',
 '1014',
 '1014 mr',
 '1014 mr rejlander',
 '1014 return',
 '1014 return transact',
 '1015',
 '1015 actor',
 '1015 actor cooke',
 '1015 return',
 '1015 return anatomy',
 '1016',
 '1016 return',
 '1016 return hensleigh',
 '1016 suspect',
 '1016 suspect see',
 '1017',
 '1017 may',
 '1017 may suspect',
 '1017 return',
 '1017 return descent',
 '102',
 '102 100',
 '102 100 whilst',
 '102 103',
 '102 103 half',
 '102 conducting',
 '102 conducting power',
 '102 duchenne',
 '102 duchenne mecanisme',
 '102 family',
 '102 family tits',
 '102 far',
 '102 far cerebral',
 '102 near',
 '102 near bogota',
 '102 return',
 '102 return muller',
 '102 since',
 '102 since partly',
 '102 species',
 '102 species however',
 '102 subjects',
 '102 subjects varieties',
 '103',
 '103 118',
 '103 118 1403',
 '103 caterpillars',
 '103 caterpillars fed',
 '103 figures',
 '103 figures given',
 '103 half',
 '103 half wild',
 '103 mr',
 '103 mr harrison',
 '103 philosophical',
 '103 philosophical transactions',
 '103 rather',
 '103 rather betray',
 '103 return',
 '103 return remark',
 '103 smith',
 '103 smith record',
 '103 tears',
 '103 tears irritate',
 '104',
 '104 100',
 '104 100 50',
 '104 100 looking',
 '104 100 ratio',
 '104 always',
 '104 always perceived',
 '104 days',
 '104 days one',
 '104 intellectual',
 '104 intellectual faculties',
 '104 males',
 '104 males 100',
 '104 many',
 '104 many cases',
 '104 order',
 '104 order hymenoptera',
 '104 respect',
 '104 respect cattle',
 '104 return',
 '104 return see',
 '104 russia',
 '104 russia 108',
 '104 sir',
 '104 sir lubbock',
 '104 stone',
 '104 stone arrow',
 '104 temporary',
 '104 temporary hook',
 '1040',
 '1040 corpses',
 '1040 corpses often',
 '105',
 '105 1215',
 '105 1215 return',
 '105 1865',
 '105 1865 104',
 '105 analogous',
 '105 analogous statements',
 '105 fairly',
 '105 fairly developed',
 '105 good',
 '105 good authority',
 '105 important',
 '105 important purpose',
 '105 insensibly',
 '105 insensibly crown',
 '105 remarkable',
 '105 remarkable throughout',
 '105 respect',
 '105 respect colour',
 '105 return',
 '105 return senses',
 '105 skulls',
 '105 skulls many',
 '106',
 '106 100',
 '106 100 period',
 '106 100 taking',
 '106 1204',
 '106 1204 return',
 '106 animals',
 '106 animals appear',
 '106 continued',
 '106 continued use',
 '106 males',
 '106 males 100',
 '106 muleteers',
 '106 muleteers america',
 '106 return',
 '106 return gratiolet',
 '106 rudiment',
 '106 rudiment apparently',
 '106 see',
 '106 see also',
 '1068',
 '1068 nothing',
 '1068 nothing common',
 '107',
 '107 126',
 '107 126 131',
 '107 1867',
 '107 1867 92',
 '107 american',
 '107 american monkey',
 '107 ateles',
 '107 ateles desmarest',
 '107 dr',
 '107 dr cullen',
 '107 eastward',
 '107 eastward india',
 '107 fully',
 '107 fully discussed',
 '107 one',
 '107 one stag',
 '107 one year',
 '107 person',
 '107 person trying',
 '107 return',
 '107 return mecanisme',
 '107 vogt',
 '107 vogt remarks',
 '108',
 '108 118',
 '108 118 additional',
 '108 579',
 '108 579 47',
 '108 another',
 '108 another curious',
 '108 gould',
 '108 gould handbook',
 '108 jews',
 '108 jews livonia',
 '108 little',
 '108 little known',
 '108 mr',
 '108 mr blyth',
 '108 mr brown',
 '108 philadelphia',
 '108 philadelphia united',
 '108 return',
 '108 return variation',
 '1085',
 '1085 influence',
 '1085 influence attention',
 '109',
 '109 111',
 '109 111 308',
 '109 149',
 '109 149 deserves',
 '109 49',
 '109 49 100',
 '109 also',
 '109 also owen',
 '109 hatred',
 '109 hatred indecency',
 '109 may',
 '109 may remind',
 '109 mr',
 '109 mr allen',
 '109 reflex',
 '109 reflex actions',
 '109 return',
 '109 return prof',
 '109 whilst',
 '109 whilst sitting',
 '10th',
 '10th first',
 '10th first shewed',
 '11',
 '11 1120',
 '11 1120 return',
 '11 1868',
 '11 1868 810',
 '11 annals',
 '11 annals magazine',
 '11 annually',
 '11 annually died',
 '11 audubon',
 '11 audubon ornithological',
 '11 authors',
 '11 authors written',
 '11 bates',
 '11 bates journal',
 '11 case',
 '11 case females',
 '11 consists',
 '11 consists described',
 '11 critic',
 '11 critic without',
 '11 dearer',
 '11 dearer females',
 '11 examination',
 '11 examination prof',
 '11 extreme',
 '11 extreme fear',
 '11 female',
 '11 female whole',
 '11 gryllus',
 '11 gryllus campestris',
 '11 hen',
 '11 hen driving',
 '11 hist',
 '11 hist nat',
 '11 indebted',
 '11 indebted dr',
 '11 introduction',
 '11 introduction classification',
 '11 mares',
 '11 mares diversis',
 '11 mr',
 '11 mr bates',
 '11 mr hewitt',
 '11 mr wallace',
 '11 natural',
 '11 natural philosophers',
 '11 owen',
 '11 owen anatomy',
 '11 pallas',
 '11 pallas spicilegia',
 '11 pike',
 '11 pike separated',
 '11 prehistoric',
 '11 prehistoric times',
 '11 prof',
 '11 prof fick',
 '11 quoted',
 '11 quoted farmer',
 '11 remarks',
 '11 remarks negative',
 '11 respects',
 '11 respects question',
 '11 return',
 '11 return since',
 '11 see',
 '11 see subject',
 '11 tylor',
 '11 tylor ibid',
 '11 wanderings',
 '11 wanderings new',
 '110',
 '110 100',
 '110 100 49',
 '110 100 enquiries',
 '110 100 however',
 '110 100 probably',
 '110 131',
 '110 131 expose',
 '110 1342',
 '110 1342 return',
 '110 1346',
 '110 1346 return',
 '110 1402',
 '110 1402 return',
 '110 admitted',
 '110 admitted perceive',
 '110 days',
 '110 days third',
 '110 desor',
 '110 desor 15',
 '110 males',
 '110 males 100',
 '110 mind',
 '110 mind brain',
 '110 mr',
 '110 mr jenner',
 '110 return',
 '110 return dr',
 '110 see',
 '110 see difference',
 '110 western',
 '110 western islands',
 '1101',
 '1101 descriptions',
 '1101 descriptions trustworthy',
 '1101 return',
 '1101 return de',
 '1102',
 '1102 insists',
 '1102 insists turning',
 '1102 return',
 '1102 return physionomie',
 '1103',
 '1103 commonly',
 '1103 commonly accompanied',
 '1103 return',
 '1103 return dr',
 '1104',
 '1104 new',
 '1104 new zealanders',
 '1104 protrude',
 '1104 protrude raise',
 '1104 return',
 '1104 return mimik',
 '1105',
 '1105 nearly',
 '1105 nearly manner',
 '1105 return',
 '1105 return scorn',
 '1106',
 '1106 intelligible',
 '1106 intelligible generally',
 '1106 return',
 '1106 return early',
 '1107',
 '1107 extreme',
 '1107 extreme disgust',
 '1107 return',
 '1107 return see',
 '1108',
 '1108 remarkable',
 '1108 remarkable readily',
 '1108 return',
 '1108 return duchenne',
 '1109',
 '1109 mr',
 '1109 mr scott',
 '1109 return',
 '1109 return quoted',
 '111',
 '111 113',
 '111 113 163',
 '111 194',
 '111 194 196',
 '111 308',
 '111 308 return',
 '111 action',
 '111 action musculus',
 '111 certain',
 '111 certain groups',
 '111 conscious',
 '111 conscious wish',
 '111 discussion',
 '111 discussion laughter',
 '111 given',
 '111 given journal',
 '111 insists',
 '111 insists beautiful',
 '111 respect',
 '111 respect swan',
 '111 return',
 '111 return see',
 '111 souls',
 '111 souls 1835',
 '1110',
 '1110 never',
 '1110 never saw',
 '1110 return',
 '1110 return quotations',
 '1111',
 '1111 return',
 '1111 return stated',
 '1111 seen',
 '1111 seen scorn',
 '1112',
 '1112 desire',
 '1112 desire see',
 '1112 return',
 '1112 return principles',
 '1113',
 '1113 arrogant',
 '1113 arrogant man',
 '1113 return',
 '1113 return gratiolet',
 '1114',
 '1114 life',
 '1114 life like',
 '1114 return',
 '1114 return anatomy',
 '1115',
 '1115 indian',
 '1115 indian texas',
 '1115 return',
 '1115 return journey',
 '1116',
 '1116 describing',
 '1116 describing young',
 '1116 return',
 '1116 return mrs',
 '1117',
 '1117 deserves',
 '1117 deserves notice',
 '1117 owen',
 '1117 owen anatomy',
 '1117 return',
 '1117 return essai',
 '1118',
 '1118 return',
 '1118 return origin',
 '1118 voice',
 '1118 voice exerted',
 '1119',
 '1119 imagined',
 '1119 imagined gestures',
 '1119 return',
 '1119 return vocal',
 '112',
 '112 100',
 '112 100 census',
 '112 114',
 '112 114 several',
 '112 attention',
 '112 attention paid',
 '112 describing',
 '112 describing beauty',
 '112 difference',
 '112 difference 139',
 '112 males',
 '112 males 84',
 '112 marcus',
 '112 marcus aurelius',
 '112 mr',
 '112 mr buckler',
 '112 return',
 '112 return chapters',
 '1120',
 '1120 answering',
 '1120 answering asked',
 '1120 return',
 '1120 return memoire',
 '1121',
 '1121 nevertheless',
 '1121 nevertheless look',
 '1121 return',
 '1121 return quoted',
 '1122',
 '1122 return',
 '1122 return mr',
 '1122 throwing',
 '1122 throwing back',
 '1123',
 '1123 abyssinians',
 '1123 abyssinians informed',
 '1123 return',
 '1123 return lieber',
 '1124',
 '1124 nod',
 '1124 nod means',
 '1124 return',
 '1124 return dr',
 '1125',
 '1125 hindoos',
 '1125 hindoos mr',
 '1125 return',
 '1125 return tylor',
 '1126',
 '1126 latter',
 '1126 latter movement',
 '1126 return',
 '1126 return lubbock',
 '1129',
 '1129 fishes',
 '1129 fishes abounded',
 '113',
 '113 163',
 '113 163 domesticated',
 '113 breslau',
 '113 breslau 114',
 '113 days',
 '113 days little',
 '113 males',
 '113 males forest',
 '113 observed',
 '113 observed however',
 '113 return',
 '113 return muller',
 '113 scraped',
 '113 scraped across',
 '113 species',
 '113 species price',
 '113 young',
 '113 young blackbird',
 '1134',
 '1134 another',
 '1134 another district',
 '114',
 '114 112',
 '114 112 mr',
 '114 122',
 '114 122 moreau',
 '114 1862',
 '114 1862 97',
 '114 806',
 '114 806 return',
 '114 chap',
 '114 chap special',
 '114 days',
 '114 days old',
 '114 furnished',
 '114 furnished small',
 '114 livingstone',
 '114 livingstone expedition',
 '114 livonia',
 '114 livonia 120',
 '114 often',
 '114 often causes',
 '114 rarer',
 '114 rarer species',
 '114 return',
 '114 return dr',
 '114 several',
 '114 several genera',
 '115',
 '115 116',
 '115 116 adduces',
 '115 145',
 '115 145 chap',
 '115 407',
 '115 407 return',
 '115 full',
 '115 full account',
 '115 look',
 '115 look intellectual',
 '115 return',
 '115 return see',
 '115 saw',
 '115 saw two',
 '115 table',
 '115 table intemperate',
 '115 take',
 '115 take much',
 '116',
 '116 95',
 '116 95 larger',
 '116 adduces',
 '116 adduces camper',
 '116 enters',
 '116 enters detail',
 '116 excellent',
 '116 excellent account',
 '116 males',
 '116 males 100',
 '116 return',
 '116 return dr',
 '116 several',
 '116 several regions',
 '116 sic',
 '116 sic saw',
 '117',
 '117 131',
 '117 131 138',
 '117 ample',
 '117 ample time',
 '117 elongation',
 '117 elongation skull',
 '117 following',
 '117 following statements',
 '117 recently',
 '117 recently stated',
 '117 return',
 '117 return carpenter',
 '118',
 '118 121',
 '118 121 915',
 '118 121 fancier',
 '118 1403',
 '118 1403 return',
 '118 additional',
 '118 additional evidence',
 '118 certain',
 '118 certain associated',
 '118 charadrius',
 '118 charadrius pluvialis',
 '118 give',
 '118 give one',
 '118 noticed',
 '118 noticed medical',
 '118 return',
 '118 return mowbray',
 '118 see',
 '118 see also',
 '118 wild',
 '118 wild blackbirds',
 '119',
 '119 effect',
 '119 effect lopping',
 '119 improved',
 '119 improved breeds',
 '119 likewise',
 '119 likewise describes',
 '119 proved',
 '119 proved innate',
 '119 return',
 '119 return see',
 '119 therefore',
 '119 therefore may',
 '119 tropical',
 '119 tropical sun',
 '119 widely',
 '119 widely distinct',
 '12',
 '12 000',
 '12 000 feet',
 '12 132',
 '12 132 scandinavia',
 '12 1805',
 '12 1805 another',
 '12 1836',
 '12 1836 canines',
 '12 1871',
 '12 1871 320',
 '12 35',
 '12 35 analogous',
 '12 73',
 '12 73 16',
 '12 763',
 '12 763 males',
 '12 797',
 '12 797 females',
 '12 873',
 '12 873 high',
 '12 acclimatization',
 '12 acclimatization parrots',
 '12 also',
 '12 also attributed',
 '12 audubon',
 '12 audubon ornith',
 '12 birds',
 '12 birds may',
 ...]

In [20]:
X.shape

(3, 552738)

In [49]:
# need to convert sparse document-term matrix 'X' to an numpy array to allow it to be put into pandas df
# this can be done on-the-fly below when making the dataframe.  Just showing it explicitly here with type()

X_arr = X.toarray()

type(X_arr)

numpy.ndarray

In [54]:
# generate a pandas dataframe from the doc-term matrix containing the docs and features with the Tf-idf scores are the entries 

import pandas as pd

darwin_corpus_tfidf_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

In [55]:
darwin_corpus_tfidf_df.head()

,000,000 000,000 000 soldiers,000 15,000 15 000,000 according,000 according loose,000 feet,000 feet deeply,000 feet informs,...,über das darwin,über das langenwachsthum,über den,über den vogelschwanz,über die,über die darwin,über die entstehung,über die heuschrecken,über die knochernen,über die richtung
0,0.002388,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001537,0.000404,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.001552,0.000292,0.000292,0.000292,0.000292,0.000292,0.000292,0.000222,0.000000,0.000292,...,0.000292,0.000292,0.000292,0.000292,0.001752,0.000292,0.000292,0.000292,0.000292,0.000584
2,0.000995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [57]:
# transposed dataframe is now the term-document matrix cast as a df

darwin_corpus_tfidf_df.transpose().head(20)

                                   0         1         2
000                         0.002388  0.001552  0.000995
000 000                     0.000000  0.000292  0.000000
000 000 soldiers            0.000000  0.000292  0.000000
000 15                      0.000000  0.000292  0.000000
000 15 000                  0.000000  0.000292  0.000000
000 according               0.000000  0.000292  0.000000
000 according loose         0.000000  0.000292  0.000000
000 feet                    0.001537  0.000222  0.000000
000 feet deeply             0.000404  0.000000  0.000000
000 feet informs            0.000000  0.000292  0.000000
000 feet professor          0.000404  0.000000  0.000000
000 feet solid              0.000404  0.000000  0.000000
000 feet valleys            0.000404  0.000000  0.000000
000 feet yet                0.000404  0.000000  0.000000
000 number                  0.000000  0.000292  0.000000
000 number soon             0.000000  0.000292  0.000000
000 padding                 0.000307  0.000000  0.000641
000 padding 5em             0.000307  0.000000  0.000641
000 particularly            0.000239  0.000172  0.000498
000 particularly important  0.000239  0.000172  0.000498

In [58]:
darwin_corpus_tfidf_df.transpose().tail(20)

                            0         1    2
étalons qui               0.0  0.000292  0.0
étalons qui eprennent     0.0  0.000292  0.0
étant                     0.0  0.000292  0.0
étant plus                0.0  0.000292  0.0
étant plus terne          0.0  0.000292  0.0
études                    0.0  0.000876  0.0
études sur                0.0  0.000876  0.0
études sur les            0.0  0.000876  0.0
über                      0.0  0.002628  0.0
über das                  0.0  0.000584  0.0
über das darwin           0.0  0.000292  0.0
über das langenwachsthum  0.0  0.000292  0.0
über den                  0.0  0.000292  0.0
über den vogelschwanz     0.0  0.000292  0.0
über die                  0.0  0.001752  0.0
über die darwin           0.0  0.000292  0.0
über die entstehung       0.0  0.000292  0.0
über die heuschrecken     0.0  0.000292  0.0
über die knochernen       0.0  0.000292  0.0
über die richtung         0.0  0.000584  0.0

In [61]:
# top 20 tf-idf scores for 'On the Origin of Species' relative to the three book darwin_corpus

darwin_corpus_tfidf_df.transpose()[0].sort_values(ascending=False)[:20]

species              0.460826
one                  0.193642
would                0.167855
may                  0.161886
many                 0.147321
forms                0.134905
selection            0.133950
natural              0.127742
varieties            0.116042
two                  0.112699
plants               0.112461
animals              0.104104
natural selection    0.097418
thus                 0.093359
several              0.087867
different            0.087390
great                0.086435
distinct             0.085718
life                 0.083808
case                 0.081898
Name: 0, dtype: float64

In [62]:
# top 20 tf-idf scores for 'The Descent of Man' relative to the three book darwin_corpus

darwin_corpus_tfidf_df.transpose()[1].sort_values(ascending=False)[:20]

male         0.274739
males        0.219722
man          0.210927
female       0.197992
species      0.189713
sexes        0.180400
females      0.170225
one          0.163843
birds        0.160739
mr           0.155392
would        0.150046
many         0.130902
sexual       0.126590
may          0.122624
animals      0.115380
selection    0.107102
young        0.096926
two          0.096754
vol          0.094339
much         0.093994
Name: 1, dtype: float64

In [63]:
# top 20 tf-idf scores for 'The Expression of the Emotions in Man and Animal' relative to the three book darwin_corpus

darwin_corpus_tfidf_df.transpose()[2].sort_values(ascending=False)[:20]

may           0.173657
one           0.173160
man           0.169179
muscles       0.167686
return        0.160223
expression    0.154251
eyes          0.134846
mr            0.128377
much          0.120913
often         0.117430
movements     0.112454
tears         0.106996
mouth         0.103995
blush         0.096043
eyebrows      0.095469
action        0.094541
would         0.094044
seen          0.094044
thus          0.092053
manner        0.090561
Name: 2, dtype: float64

In [24]:
# Do a matrix decomposition to do latent semantic analysis (create three concepts-- single "concept" for each book)

from sklearn.decomposition import TruncatedSVD

lsa = TruncatedSVD(n_components=3, n_iter=100)
lsa.fit(X)

TruncatedSVD(algorithm='randomized', n_components=3, n_iter=100,
       random_state=None, tol=0.0)

In [25]:
# concept (rows) by terms (three columns) matrix that is part of decomposition can be
# accessed by lsa.components_[]

lsa.components_[0]

array([ 0.00200425,  0.00012308,  0.00012308, ...,  0.00012308,
        0.00012308,  0.00024616])

In [27]:
lsa.components_.shape

(3, 552738)

In [29]:
# print top 20 terms for each concept

terms = vectorizer.get_feature_names()
for i, comp in enumerate(lsa.components_):
    termsInComp = zip(terms,comp)
    sortedTerms= sorted(termsInComp, key=lambda x: x[1], reverse=True)[:20]
    print('Concept %d:' % i)
    for term in sortedTerms:
        print(term[0])
    print(' ')

Concept 0:
species
one
may
would
man
many
mr
male
animals
much
thus
two
see
selection
males
often
birds
case
female
certain

Concept 1:
muscles
return
expression
eyes
movements
tears
mouth
blush
eyebrows
man
face
mind
action
habit
seen
body
laughter
contraction
often
blushing

Concept 2:
male
males
female
sexes
females
man
birds
sexual
vol
colour
mr
colours
coloured
young
plumage
sexual selection
men
horns
sex
shewn

In [ ]:
# Following Data School (Kevin Markham) tutorial on using scikit learn with text

# https://www.youtube.com/watch?v=8QmkFAthuPU

# Basic workflow of scikit learn ML model building:

# i.) Import Python libraries 
# ii.) Instantiate model
# iii.) Fit model to training data
# iv.)  Predict on test data and other out-of-sample data (or transform in case of working with text)

In [38]:
# import and instantiate CountVectorizer (with default parameters)

from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [39]:
# fitting CountVectorizer() to darwin_corpus (no preprocessing on text besides just extracting text from html).  
# Note that CountVectorizer() expects a list or iterable argument
# Fitting learns the 'vocabulary' of the training data (occurs in-place)

# NOTICE THERE ARE NO STOPWORDS REMOVED AS DEFAULT SETTING

# ALSO, fitting happens in place (no need to store output with variable)


vect.fit(darwin_corpus)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [40]:
# examine the fitted vocabulary
# returns vocabulary in numerical and then alphabetical order

vect.get_feature_names()

['000',
 '019',
 '050',
 '071',
 '08',
 '084',
 '09',
 '10',
 '100',
 '1000',
 '1001',
 '1002',
 '1003',
 '1004',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '101',
 '1010',
 '1011',
 '1012',
 '1013',
 '1014',
 '1015',
 '1016',
 '1017',
 '102',
 '103',
 '104',
 '1040',
 '105',
 '106',
 '1068',
 '107',
 '108',
 '1085',
 '109',
 '10th',
 '11',
 '110',
 '1101',
 '1102',
 '1103',
 '1104',
 '1105',
 '1106',
 '1107',
 '1108',
 '1109',
 '111',
 '1110',
 '1111',
 '1112',
 '1113',
 '1114',
 '1115',
 '1116',
 '1117',
 '1118',
 '1119',
 '112',
 '1120',
 '1121',
 '1122',
 '1123',
 '1124',
 '1125',
 '1126',
 '1129',
 '113',
 '1134',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '12',
 '120',
 '1201',
 '1202',
 '1203',
 '1204',
 '1205',
 '1206',
 '1207',
 '1208',
 '1209',
 '121',
 '1210',
 '1211',
 '1212',
 '1213',
 '1214',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '122',
 '1220',
 '1221',
 '1222',
 '1223',
 '1224',
 '1225',
 '1226',
 '1227',
 '1228',
 '123',
 '124',
 '125',
 '125th',
 '126',
 '127',
 '128',
 '129',
 '12s',
 '13',
 '130',
 '1301',
 '1302',
 '1303',
 '1304',
 '1305',
 '1306',
 '1307',
 '1308',
 '1309',
 '131',
 '1310',
 '1311',
 '1312',
 '1313',
 '1314',
 '1315',
 '1316',
 '1317',
 '1318',
 '1319',
 '132',
 '1320',
 '1321',
 '1322',
 '1323',
 '1324',
 '1325',
 '1326',
 '1327',
 '1328',
 '1329',
 '133',
 '1330',
 '1331',
 '1332',
 '1333',
 '1334',
 '134',
 '1340',
 '1341',
 '1342',
 '1343',
 '1344',
 '1345',
 '1346',
 '135',
 '136',
 '137',
 '138',
 '139',
 '14',
 '140',
 '1401',
 '1402',
 '1403',
 '1404',
 '1405',
 '141',
 '1415',
 '142',
 '1426',
 '1429',
 '143',
 '1430',
 '144',
 '145',
 '146',
 '147',
 '148',
 '1484',
 '149',
 '1496',
 '1499',
 '15',
 '150',
 '1500',
 '1503',
 '151',
 '152',
 '153',
 '154',
 '1548',
 '155',
 '156',
 '157',
 '158',
 '159',
 '15s',
 '15th',
 '16',
 '160',
 '1600',
 '1602',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '1667',
 '167',
 '168',
 '169',
 '1699',
 '17',
 '170',
 '171',
 '172',
 '173',
 '174',
 '1746',
 '1747',
 '175',
 '1751',
 '1753',
 '176',
 '1767',
 '177',
 '1773',
 '1774',
 '1775',
 '1777',
 '1778',
 '1779',
 '178',
 '1780',
 '1782',
 '1788',
 '179',
 '1791',
 '1792',
 '1793',
 '1794',
 '1795',
 '1796',
 '1797',
 '1799',
 '17th',
 '18',
 '180',
 '1801',
 '1802',
 '1805',
 '1806',
 '1807',
 '1808',
 '1809',
 '181',
 '1810',
 '1812',
 '1813',
 '1815',
 '1816',
 '1818',
 '1819',
 '182',
 '1820',
 '1821',
 '1822',
 '1823',
 '1824',
 '1825',
 '1826',
 '1828',
 '1829',
 '183',
 '1830',
 '1831',
 '1832',
 '1833',
 '1834',
 '1835',
 '1836',
 '1837',
 '1838',
 '1839',
 '184',
 '1840',
 '1841',
 '1842',
 '1843',
 '1844',
 '1845',
 '1846',
 '1847',
 '1848',
 '1849',
 '185',
 '1850',
 '1851',
 '1852',
 '1853',
 '1854',
 '1855',
 '1856',
 '1857',
 '1858',
 '1859',
 '186',
 '1860',
 '1861',
 '1862',
 '1863',
 '1864',
 '1865',
 '1866',
 '1867',
 '1868',
 '1869',
 '187',
 '1870',
 '1871',
 '1872',
 '1873',
 '1874',
 '1876',
 '188',
 '1887',
 '189',
 '1896',
 '1899',
 '19',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '1998',
 '1999',
 '1em',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2009',
 '201',
 '2012',
 '2013',
 '2017',
 '202',
 '203',
 '204',
 '2048',
 '205',
 '206',
 '207',
 '208',
 '209',
 '20th',
 '21',
 '210',
 '211',
 '212',
 '2129',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '21s',
 '22',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '22nd',
 '23',
 '230',
 '2300',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '23rd',
 '24',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '24th',
 '25',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '25em',
 '26',
 '260',
 '2600',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '268',
 '269',
 '27',
 '271',
 '272',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '28',
 '280',
 '281',
 '282',
 '283',
 '284',
 '286',
 '287',
 '288',
 '289',
 '29',
 '290',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '2nd',
 '2s',
 '30',
 '300',
 '3000',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '31',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '32',
 '320',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '3273',
 '328',
 '329',
 '33',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '34',
 '340',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '35',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '36',
 '360',
 '3605',
 '361',
 '362',
 '363',
 '364',
 '365',
 '366',
 '369',
 '36s',
 '37',
 '370',
 '371',
 '372',
 '373',
 '375',
 '376',
 '377',
 '3776',
 '378',
 '379',
 '38',
 '381',
 '382',
 '383',
 '384',
 '385',
 '386',
 '387',
 '388',
 '389',
 '39',
 '390',
 '391',
 '392',
 '393',
 '394',
 '3946',
 '395',
 '396',
 '397',
 '398',
 '3em',
 '3rd',
 '3s',
 '40',
 '400',
 '4000',
 '401',
 '402',
 '403',
 '404',
 '405',
 '406',
 '407',
 '408',
 '409',
 '41',
 '410',
 '411',
 '412',
 '413',
 '414',
 '41421',
 '415',
 '416',
 '417',
 '418',
 '419',
 '42',
 '420',
 '421',
 '422',
 '423',
 '424',
 '425',
 '426',
 '427',
 '428',
 '429',
 '42b',
 '43',
 '430',
 '431',
 '432',
 '433',
 '434',
 '435',
 '436',
 '437',
 '439',
 '44',
 '440',
 '4407',
 '441',
 '443',
 '444',
 '445',
 '446',
 '447',
 '448',
 '449',
 '45',
 '450',
 '451',
 '452',
 '453',
 '455',
 '4557',
 '4558',
 '456',
 '457',
 '458',
 '459',
 '46',
 '460',
 '461',
 '462',
 '463',
 '466',
 '468',
 '469',
 '47',
 '471',
 '472',
 '4723',
 '473',
 '475',
 '476',
 '477',
 '478',
 '479',
 '48',
 '481',
 '482',
 '483',
 '484',
 '485',
 '486',
 '487',
 '488',
 '489',
 '49',
 '492',
 '494',
 '495',
 '496',
 '497',
 '498',
 '4th',
 '4to',
 '50',
 '500',
 '5000',
 '501',
 '502',
 '503',
 '504',
 '505',
 '506',
 '507',
 '508',
 '509',
 '51',
 '510',
 '511',
 '512',
 '513',
 '514',
 '515',
 '516',
 '517',
 '518',
 '519',
 '52',
 '520',
 '521',
 '522',
 '523',
 '524',
 '525',
 '526',
 '527',
 '528',
 '529',
 '53',
 '530',
 '531',
 '532',
 '533',
 '534',
 '535',
 '537',
 '539',
 '54',
 '541',
 '542',
 '543',
 '544',
 '545',
 '546',
 '55',
 '550',
 '551',
 '552',
 '553',
 '555',
 '557',
 '558',
 '56',
 '560',
 '561',
 '562',
 '563',
 '564',
 '565',
 '567',
 '568',
 '569',
 '57',
 '570',
 '571',
 '573',
 '574',
 '576',
 '579',
 '58',
 '581',
 '583',
 '584',
 '585',
 '586',
 '589',
 '59',
 '595',
 '596',
 '598',
 '5em',
 '5th',
 '60',
 '600',
 '601',
 '602',
 '603',
 '604',
 '605',
 '606',
 '607',
 '608',
 '609',
 '61',
 '610',
 '611',
 '612',
 '613',
 '614',
 '615',
 '616',
 '617',
 '618',
 '619',
 '62',
 '620',
 '621',
 '622',
 '6221541',
 '623',
 '624',
 '625',
 '626',
 '627',
 '63',
 '630',
 '632',
 '633',
 '634',
 '637',
 '638',
 '639',
 '64',
 '641',
 '642',
 '647',
 '65',
 '650',
 '651',
 '657',
 '659',
 '66',
 '660',
 '667',
 '67',
 '671',
 '672',
 '675',
 '676',
 '677',
 '68',
 '681',
 '682',
 '683',
 '685',
 '687',
 '6878',
 '69',
 '690',
 '6d',
 '6s',
 '6th',
 '70',
 '700',
 '7000',
 '701',
 '702',
 '703',
 '704',
 '705',
 '706',
 '707',
 '709',
 '71',
 '711',
 '715',
 '72',
 '721',
 '722',
 '724',
 '725',
 '729',
 '73',
 '730',
 '731',
 '732',
 '738',
 '7385',
 '739',
 '74',
 '740',
 '743',
 '745',
 '746',
 '747',
 '749',
 '75',
 '750',
 '751',
 '753',
 '75em',
 '76',
 '761',
 '762',
 '763',
 '764',
 '765',
 '77',
 '771',
 '773',
 '774',
 '775',
 '778',
 '78',
 '780',
 '786',
 '79',
 '794',
 '796',
 '797',
 '798',
 '7s',
 '7th',
 '80',
 '801',
 '802',
 '803',
 '804',
 '805',
 '806',
 '807',
 '808',
 '8081',
 '809',
 '81',
 '810',
 '811',
 '812',
 '813',
 '814',
 '815',
 '816',
 '817',
 '818',
 '819',
 '82',
 '820',
 '821',
 '822',
 '823',
 '824',
 '825',
 '826',
 '827',
 '83',
 '836',
 '84',
 '84116',
 '847',
 '85',
 '86',
 '865',
 '866',
 '868',
 '87',
 '873',
 '876',
 '88',
 '8859',
 '89',
 '890',
 '8965',
 '8th',
 '8ths',
 '8vo',
 '90',
 '900',
 '901',
 '902',
 '903',
 '904',
 '905',
 '906',
 '907',
 '908',
 '909',
 '91',
 '910',
 '911',
 '912',
 '913',
 '914',
 '915',
 '916',
 '92',
 '924',
 '93',
 '932',
 '934',
 '936',
 '937',
 '938',
 '939',
 ...]

In [42]:
# transform training data into a 'document-term matrix'
# this will be a sparse array where documents (each of the three books) are rows and terms (i.e. vocabulary found) are columns

darwin_corpus_dtm = vect.transform(darwin_corpus)
darwin_corpus_dtm

<3x19828 sparse matrix of type '<class 'numpy.int64'>'
	with 32176 stored elements in Compressed Sparse Row format>

In [43]:
# convert sparse matrix to a dense matrix with toarray() method

darwin_corpus_dtm.toarray()

array([[10,  0,  0, ...,  0,  0,  0],
       [ 9,  1,  1, ...,  1,  3,  9],
       [ 2,  0,  0, ...,  0,  0,  0]], dtype=int64)

In [46]:
# examine the vocabulary and document-term matrix together by putting documents and terms (with unnormalized frequency counts) 
# into pandas dataframe 
# each document is now a "bag-of-words" (bag-of-words is result of basic tokenization, counting and often normalized frequency)

import pandas as pd

pd.DataFrame(darwin_corpus_dtm.toarray(), columns=vect.get_feature_names())

,000,019,050,071,08,084,09,10,100,1000,...,égard,élégance,émouvoir,époque,éprouve,étalage,étalons,étant,études,über
0,10,0,0,0,0,0,0,7,8,0,...,0,0,0,0,0,0,0,0,0,0
1,9,1,1,1,1,1,1,34,57,3,...,1,1,1,2,1,1,1,1,3,9
2,2,0,0,0,0,0,0,12,1,0,...,0,0,0,0,0,0,0,0,0,0